<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<div class="card">
    <h2 class="accordion-header" id="accordion-heading-{data.uid}-{card.uid}">
    </h2>
    <div id="card-group-{data.uid}-{card.uid}" class="" aria-labelledby="">
        <div class="accordion-body">
            <div class="accordion-content accordion-content-{card.mediaorient}">
                <f:if condition="{card.image}">
                    <div class="accordion-content-item accordion-content-media">
                        <f:for each="{card.image}" as="image">
                            <f:image src="{f:uri.image(image: image)}" alt="{image.alternative}" />
                        </f:for>
                    </div>
                </f:if>
                <div class="accordion-content-item accordion-content-text">
                    <f:format.html>{card.bodytext}</f:format.html>
                </div>
            </div>
        </div>
    </div>
</div>



</html>